body{
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}
h1{
  align-items: center;  
}
h3{
    align-items: center;
}
#gameboard{
    display: grid;
    grid-template-columns: 1fr, minmax(0, 400px), 1fr, minmax(0, 400px), 1fr, minmax(0, 400px), 1fr;
    grid-template-rows: 1fr, minmax(0, 400px), 1fr, minmax(0, 400px), 1fr, minmax(0, 400px), 1fr;
}
#row1{
    grid-column: 2/3;
    grid-row: 2/3
}
#leftLine{
    grid-column: 3/4;
    grid-row: 2/7;
}
.square{
    height: 120px;
    width: 120px;
    padding: 10px;;
    border: black solid 10px;
}
#rightLine{
    grid-column: 5/6;
    grid-row: 2/7;
}
.divider{
    height: 400;
    width: 20px;
    background-color: purple;
}
#row2{
    grid-column: 4/5;
    grid-row: 4/5;
}
#row3{
    grid-column: 6/7;
    grid-row: 6/7;
}