body{
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}
p{
    margin: 5px;
    padding: 5px;
}
h1{
  align-items: center;  
  margin: 0px;
}
h3{
    align-items: center;
    margin: 0px;
    padding-bottom: 0px;
}
#playerSection{
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 35px;
}
.littleBlank{
    width: 5px;
}
#blank{
    width: 50px;
}
#gameboard{
    display: grid;
    font-size: 30px;
    font-weight: bolder;
    grid-template-columns: 1fr, minmax(0, 400px), minmax(0, 400px), minmax(0, 400px), 1fr;
    grid-template-rows: 1fr, minmax(0, 400px), minmax(0, 400px), minmax(0, 400px), 1fr;
}
.form-popup{
    display: none;
    position: fixed;
    border: 3px solid grey;
    z-index: 9;
}
button{
    background-color:#cef5f0;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 0px;
}
.form-container{
    max-width: 600px;
    padding: 25px;
    background-color: lightblue;
}
.form-container input[type=text]{
    background-color: #ddd;
    outline: none;
    font-size: 24px;
}
li{
    list-style: none;
    padding: 8px;
}
#row1{
    grid-column: 2/5;
    grid-row: 2/3;
    display: flex;
    flex-direction:row;
}
.square{
    height: 120px;
    width: 120px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#square1{
    border-right: purple 5px solid;
    border-bottom: purple 5px solid;
}
#square2{
    border-left: purple 5px solid;
    border-right: purple 5px solid;
    border-bottom: purple 5px solid;
}
#square3{
    border-left: purple 5px solid;
    border-bottom: purple 5px solid;
}
#row2{
    grid-column: 2/5;
    grid-row: 3/4;
    display: flex;
    flex-direction:row;
}
#square4{
    border-right: purple 5px solid;
    border-top: purple 5px solid;
    border-bottom: purple 5px solid;
}
#square5{
    border: purple 5px solid;
}
#square6{
    border-left: purple 5px solid;
    border-top: purple 5px solid;
    border-bottom: purple 5px solid;
}
#row3{
    grid-column: 2/5;
    grid-row: 4/5;
    display: flex;
    flex-direction:row;
}
#square7{
    border-right: purple 5px solid;
    border-top: purple 5px solid;
}
#square8{
    border-left: purple 5px solid;
    border-right: purple 5px solid;
    border-top: purple 5px solid;
}
#square9{
    border-left: purple 5px solid;
    border-top: purple 5px solid;
}